BACKEND_URL=http://127.0.0.1:3001
BACKEND_TIMEOUT_MS=1500
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_META_DAO_PROGRAM_ID=FUTARELBfJfQ8RDGhg1wdhddq1odMAJUePHFuBYfUxKq
NEXT_PUBLIC_CONDITIONAL_VAULT_PROGRAM_ID=VLTX1ishMBbcX3rdBWGssxawAo1Q2X2qxYFYqiGodVg
